<div class="mat-bottom-bar mat-tab-group-inverted-header">
  <nav 
    mat-tab-nav-bar
    mat-align-tabs="center"
    class="mat-tab-header"
    [attr.mat-stretch-tabs]="stretch"
  >
    <a 
      *ngFor="let menu of menuList"
      mat-tab-link
      class="d-block text-center"
      routerLinkActive
      #rla="routerLinkActive"
      [class.px-0]="stretch"
      [active]="rla.isActive"
      [routerLink]="menu.link"
    >
      <mat-icon
        *ngIf="menu.icon"
      >
        {{ menu.icon }}
      </mat-icon>
      <div>
        {{ menu.text }}
      </div>
    </a>
  </nav>
</div>