<app-navbar-v3
  [menuList]="menuList"
></app-navbar-v3>

<main class="main-content">
  <div class="container my-4">
    <button
      *ngIf="slug"
      mat-raised-button
      type="button"
      class="mb-3 py-1 text-capitalize d-flex justify-content-between align-items-center"
      (click)="create()"
    >
      <mat-icon>add</mat-icon>
      <span>
        Add {{ slug }}
      </span>
    </button>
    <mat-card>
      <ng-content></ng-content>
    </mat-card>
  </div>
</main>

<app-bottombar
  [menuList]="sidebarMenuList"
></app-bottombar>