<app-auth>
  <button 
    mat-raised-button 
    class="w-100 fs-5 fw-bold py-2 bg-light text-dark"
    (click)="loginViaGoogle()"
  >
    Google login
  </button>
  <div class="d-flex align-items-center justify-content-center py-4">
    <div class="w-100">
      <mat-divider></mat-divider>
    </div>
    <div class="px-3 pt-1">
      <h6 class="fw-bold m-0">OR</h6>
    </div>
    <div class="w-100">
      <mat-divider></mat-divider>
    </div>
  </div>
  <app-form
    [formData]="loginForm"
    (formSubmitted)="onLoginSubmit($event)"
  >
    <app-input
      label="Email"
      type="email"
      name="email"
      [formGroup]="loginForm"
    ></app-input>
    <app-input
      label="Password"
      type="password"
      name="password"
      [formGroup]="loginForm"
    ></app-input>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      class="w-100 fs-5 fw-bold py-2"
    >
      Login
    </button>
  </app-form>
</app-auth>