<app-admin>
  <div class="text-center p-0 p-sm-5">
    <div class="d-flex justify-content-between align-items-center fs-5 mb-2">
      <span class="fw-bold fs-5">
        Name: 
      </span>
      <span>
        {{ user?.name }} 
      </span>
    </div>
    <div class="d-flex justify-content-between align-items-center fs-5 mb-2">
      <span class="fw-bold fs-5">
        Email: 
      </span>
      <span>
        {{ user?.email }} 
      </span>
    </div>
    <div class="d-flex justify-content-between align-items-center fs-5 mb-2">
      <span class="fw-bold fs-5">
        Role: 
      </span>
      <span class="text-uppercase">
        {{ user?.role }} 
      </span>
    </div>
    <div class="d-flex justify-content-between align-items-center fs-5 mb-2">
      <span class="fw-bold fs-5">
        Create At: 
      </span>
      <span>
        {{ user?.createdAt }} 
      </span>
    </div>
    <div class="d-flex justify-content-between align-items-center fs-5 mb-2">
      <span class="fw-bold fs-5">
        Updated At: 
      </span>
      <span>
        {{ user?.updatedAt }} 
      </span>
    </div>
  </div>
</app-admin>
